### OS — macOS ###
**/.DS_Store
.AppleDouble
.LSOverride
._*

### OS — Windows ###
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

### Ansible ###
*.retry

### Docker ###
.env
.env.*
!.env.example

### Secrets ###
*.key
*.pem
*.p12
*.pfx
secrets.yml
secrets.yaml
vault_pass*

### Temp ###
tmp/
temp/

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

### IDEs ###
.vscode/
.idea/
*.swp
*.swo
*~
