### OS — macOS ###
**/.DS_Store
.AppleDouble
.LSOverride
._*

### OS — Windows ###
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

### Ansible ###
*.retry

### Docker ###
.env

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

### IDEs ###
.vscode/
.idea/
*.swp
*.swo
*~
