{% set volume_path = flame_data_dir + '/' + (flame_instance if flame_instance else 'data') %}
---
networks:
  {{ flame_network }}:
    external: true

services:
  {{ flame_container_name }}:
    image: pawelmalak/flame:{{ flame_image_version }}
    container_name: {{ flame_container_name }}
    environment:
      - PASSWORD={{ flame_password }}
    volumes:
      - {{ volume_path }}:/app/data
    networks:
      - {{ flame_network }}
    labels:
      - traefik.enable=true
      - "traefik.http.routers.{{ flame_router_name }}.rule=Host(`{{ uri_flame | join('`) || Host(`') }}`)"
      - traefik.http.routers.{{ flame_router_name }}.entrypoints=websecure
      - traefik.http.services.{{ flame_router_name }}.loadbalancer.server.port=5005
{% if flame_traefik_middlewares %}
      - "traefik.http.routers.{{ flame_router_name }}.middlewares={{ flame_traefik_middlewares | join(',') }}"
{% endif %}
{% if flame_traefik_tls %}
      - traefik.http.routers.{{ flame_router_name }}.tls=true
      - traefik.http.routers.{{ flame_router_name }}.tls.certresolver=letsencrypt
{% endif %}
    restart: unless-stopped
