{% from 'macros/traefik.j2' import labels %}
---
networks:
  Public:
    external: true

services:
  ActualBudget-App:
    image: ghcr.io/actualbudget/actual-server:{{ actual_budget_image_version }}
    container_name: ActualBudget-App
    volumes:
      - ./data:/data
    networks:
      - Public
    restart: unless-stopped
{{ labels('actual-budget', actual_budget_domain, actual_budget_port, middlewares=actual_budget_traefik_middlewares) }}
