_________________________________________________________________________________________
This computer network is the property of {{ client_name }} and is for authorised use only.
The use of {{ client_name }}'s ICT resources, including this network, is monitored.
To use this network you must comply with the Acceptable Use Policy and requirements of information
privacy laws. Unauthorised or improper use of this network may result in disciplinary action,
including termination, and/or civil or criminal penalties.
_________________________________________________________________________________________
