{# TODO: import macros as needed #}
{# {% from 'macros/postgres.j2' import postgres %} #}
{# {% from 'macros/redis.j2'    import redis    %} #}
{# {% from 'macros/traefik.j2'  import labels   %} #}

networks:
  # TODO: define networks

services:
  # TODO: define services
